@import url('./common.css');

/* 노토산스 글씨체 */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}

/* header style */
header {
  padding: 20px 0;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 9999;
}

header .inner-header {
  width: 92%;
  /* 요소가 한 개니까 마진 0 auto로 가운데로 배치, 굳이 flex 쓸 필요 없음 */
  margin: 0 auto;
  display: flex;

  /* flex-direction을 따로 지정하지 않아 기본 값인 row, row를 기준으로  */
  align-items: center;
}

header .inner-header .logo {
  /* flex-grow: 1, 로고 영역이 1만 차지하게  */
  flex: 1;

}

header .inner-header .intro-text {
  flex: 4;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;

}

header .inner-header .menu-open {
  flex: 1;
  font-weight: 700;
  font-size: 1.2em;
  align-self: stretch;

  /* menu-open이 갖는 자식요소들을 배치하기 위해 */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .inner-header .menu-open .lnr-menu {
  font-size: 33px;
  margin-left: 15px;
}

header .inner-header .logo img {
  height: 60px;
}

/* gnb -> 숨겨진 menu, 햄버거 버튼 클릭시 등장 */

header .gnb {
  background: #000;
  color: #666;
  font-weight: 700;
  font-size: 40px;
  padding: 70px 100px;

  /* 디바이스가 작아지거나 커지더라도
  크기가 화면 자체를 가득 채우고, */
  height: 100vh;

  position: fixed;

  /* 화면의 오른쪽을 기준으로 -100%를 주면 화면 바깥쪽으로 밀려나있는 상태로 지정한다. */
  right: -100%;
  top: 0;

  display: flex;
  flex-direction: row-reverse;

  transition: 0.8s;
}

/* 클래스명이 gnb인 nav가 햄버거 버튼을 누르면, 클래스명이 gnb이면서 open 이라는 클래스명이 생기고, 바깥에 빠져있던 클래스명이 gnb인 nav가 right의 값 0을 갖게 되면서 화면에 나타난다. */
header .gnb.open {
  right: 0;
}


header .gnb .close {
  color: #ccc;
  margin-left: 150px;
}

header .gnb ul {
  line-height: 1.7;
}

header .gnb ul li:hover,
header .gnb ul li.active {
  color: #fff;
}

/* section visual style */
section.visual .slide li {
  background: violet;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* 사진을 background 속성으로 지정했다면, position으로 적용해서 사진을 올릴 수 있다. */
section.visual .slide li img {
  width: 100%;
  position: absolute;
  top: -70px;
}

/* ? */
section.visual .slide li .txt {  
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
  font-size: 18px;

  /* 그림자 효과 지정 */
  /* 그림자 x축, y축, 그림자가 얼마나 투명해질것인지, 숫자가 작을수록 그림자가 짙다, 그림자 색깔 */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);


}

section.visual .slide li .txt h3 {
  margin: 30px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}

section.visual .slide .scroll {
  position: absolute;
  left: 5%;
  bottom: 10%;
  font-size: 15px;
  font-weight: 700;
  color: #ccc;

  /* ? */
  transform: rotate(-90deg);
}

/* section.contents style */
section.contents {
  background: #1b1b1b;
  padding: 120px 0;
}

/* main-text */
section.contents .main-text {
  width: 80%;
  margin: 0 auto;
  font-size: 25px;

  display: flex;
  position: relative;
}

/* 원 구현 */
section.contents .main-text::before {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffec03;

  /* 원 배치 */
  position: absolute;
  left: 70px;
  top: 100px;
}

section.contents .main-text::after {
  content: '”';
  font-size: 300px;

  position: absolute;
  left: 0;
  top: 100px;
}

/* ----- */

/* section.contents .main-text h3 {
  flex: 1;
}
section.contents .main-text p {
  line-height: 1.3;
  
  flex: 3;
}

section.contents .main-text p span {
  display: block;
  margin-top: 30px;

  font-size: 20px;
  color: #ccc;
} */
section.contents .main-text h3{
  flex: 1;
  font-weight: 700;
}

section.contents .main-text p {
  flex: 2;

  font-size: 23px;
  line-height: 1.4;
  text-align: justify;
}

section.contents .main-text p span {
  display: block;
  
  font-size: 20px;
  color: #999;
  margin-top: 30px;
}

/* section.contents */
section.contents .project .top {
  width: 80%;
  margin: 200px auto 60px;
  display: flex;
  justify-content: space-between;
}

section.contents .project .top h3 {
  font-size: 35px;
  font-weight: 700;
}

section.contents .project .top a {
  font-size: 18px;
}

section.contents .project ul {
  display: flex;
  justify-content: space-evenly;
}

section.contents .project ul li {
  width: 24%;
  height: 400px;

  border: 4px solid #fff;

  overflow: hidden;

  position: relative;
}

section.contents .project ul li a::before {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(27, 27, 27, 0.8);

  position: absolute;
  transition: 0.6s;
}

section.contents .project ul li a:hover::before {
  width: 100%;
}

section.contents .project ul li img {
  width: 100%;
}

section.contents .project ul li .name {
  background: #1b1b1b;
  font-size: 22px;
  text-align: right;
  width: 250px;
  padding: 15px;

  position: absolute;
  right: 10px;
  bottom: 10px;

  opacity: 0;
}

section.contents .project ul li a:hover .name {
  animation: show-name 1s both;
}

@keyframes show-name {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section.contents .partner {
  width: 80%;
  margin: 170px auto 100px;
}

section.contents .partner h3 {
  font-size: 20px;
  margin-bottom: 80px;
}

/* ul이 컨테이너 ul안에 있는 li들이 items */
section.contents .partner ul {
  /* display: flex;
  flex-wrap: wrap; */
  display: flex;
  flex-flow: row wrap;
}

section.contents .partner ul li {
  /* 부모 요소의 width가 100%를 기준으로 25%씩, 부모 요소가 flex-wrap: wrap; 속성이 지정되어 있기에 items 들이 두줄로 변한다. */
  width: 25%;
  margin-bottom: 80px;

  display: flex;
  
  /* 가운데 정렬이 왜 안먹을까? display:flex; 지정안해서 가운데 정렬 안먹음 */
  justify-content: center;
  align-items: center;

  opacity: 0.4;
}

section.contents .partner ul li:hover {
  opacity: 1;
  transition: 0.3s;
}

/* .contact style */
section.contents .contact {
  width: 90%;
  padding: 220px 0;

  /* ? */
  background: url(../img/contact.jpg) no-repeat center / cover fixed;
}

section.contents .contact .inner {
  width: 70%;
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.4;
}

section.contents .contact .inner .tel {
  font-size: 55px;
  font-weight: 700;
  margin: 50px 0;
}

/* footer */
footer {
  background-color: #1b1b1b;
  color: #999;
  padding: 0 80px 80px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul li:nth-child(2) {
  color: #eee;
  font-size: 16px;
  line-height: 2;
}

footer ul li:nth-child(2) span {
  font-weight: 700;
  margin-right: 10px;
  color: #999;
}

footer .go-top {
  color: #fff;
  font-size: 50px;

  position: fixed;
  right: 50px;
  bottom: 60px;
}




